# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
dist/
build/

# Data outputs and local data (do NOT commit large raw data)
data/
*/outputs/
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints
*.ipynb

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
